input[type=text], input[type=password], input[type=search], input[type=date], input[type=email], input[type=number], textarea {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }

@font-face {
  font-family: "Roboto--Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto--Regular", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 2.0rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.38px;
  color: #4D5B6D;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

 /*nav*/

 /* nav ul ul:before {
  position: absolute;
  top: -9px;
  left:150px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #EEE;
  border-left: 9px solid transparent;
  content: '';
} */

 a {
  color: #244cde;
  text-decoration: none !important;
}

 .pt-15{
  padding-top: 15px;
 }

 .dropdown-menu{
  padding: 1rem;

 }

 .title{
  font-size: 14px;
  text-transform: uppercase;
  color: #4D5B6D;
 }

 .list-unstyled{
  font-size: 14px;
 }

 .list-unstyled-item{
  line-height: 15px;
  margin-top: 10px;
 }

 .right{
  justify-content: flex-end;
 }

 .dropdown-toggle::after {
  display: none !important;
}

.dropdown-item{
  font-size: 18px;
  padding-top: 8px;
}

.right-float {
	float: right;
  }
  
.dropdown{
  padding-left: 10px;
  font-size: 18px;
}

.dropdown-menu{
	--bs-dropdown-link-active-bg: #e9ecef;
  border: unset;
  border-radius: unset;
  background-color: #FBFBFB;
}

.navbar-nav{
	--bs-nav-link-color: #4A4D59;
    --bs-nav-link-hover-color: unset !important;
    --bs-nav-link-disabled-color: unset !important;
}

.btn{
	font-size: 16px;
}
 
  /*hero tray*/

.f9image {
  width: 100%;
  height: 300px;
  background: url('../img/banner-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  /* background-attachment: fixed; */
}
.hero-row{
	height: 300px;
	align-content: center;
}
.hero-title {
  font-size: 44px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.hero-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.form{
  position: relative;
  text-align: -webkit-center;
  width: 100%;
}

.form .fa-search{
  color: #4A4D59;
  position: absolute;
  left: 16px;
  top: 11px;
}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
   padding-left: 10px;
}

.form-input{
    height: 40px;
    text-indent: 45px;
    font-size: 18px;
}

.form-input:focus{
  box-shadow: none;
  border:none;
}


/*tray one components*/

.tray-one{
  padding-top: 50px;
  padding-bottom: 50px;
}

p{
	margin-bottom: 2px !important;
}

.wd-27{
  width: 27% !important;
}

.card{
	border: 1px solid #eeeeee;
  margin-top: 30px;
}

.card-list{
	list-style-type: none;
	padding-left: 0rem;;
}

.card-list-item{
	line-height:15px;
	margin-top: 10px;
}

.card-title{
  line-height: 1em;
  font-size: 24px;
  font-weight: 700;
  color: #333642;
}

.card-link{
  cursor: pointer;
  text-decoration: none !important;
  color: #244cde !important;
  font-size: 16px;
}

.card-body{
	padding: 30px;
}

.icon-background {
  background-color: #E2E7FA;
  padding: 8px;
  margin-bottom: 30px;
}

img.icon-background-zero {
	background-color: #E2E7FA;
	padding: 8px;
	margin-bottom: 30px;
  }

  .pd-30{
	padding: 30px;
  }

.accordion-button-zero {
    color: #4a4d59 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    font-weight: 700 !important;
    margin-left: -5px;
    width: 47% !important;
	position: relative;
	display: flex;
	border: none;
	background-color: transparent;
	padding-top: 10px;
}

.accordion-body-zero{
	font-size: 16px;
	font-weight: 400;
}


/*tray two components*/

.tray-two{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FBFBFB;
}

.accordion-body{
  margin-left: 87px;
  font-size: 16px;
  font-weight: 400;

}

.accordion-button.accordion-button:not(.collapsed){
  box-shadow: unset !important;
}

.icon-background-two {
  background-color: #E2E7FA;
  padding: 8px;
  margin-bottom: 10px;
  position: absolute;
  margin-left: 24px;
  margin-top: 24px;
}

.accordion{
  border: 1px solid #eeeeee;
  --bs-accordion-btn-focus-box-shadow: unset !important;
  --bs-accordion-body-padding-x: unset !important;
  --bs-accordion-body-padding-y: unset !important;
  background-color: white;

}

.mt-30{
  margin-top: 30px;
}

.accordion-button:not(.collapsed) {
  background-color: unset !important;
}

.accordion-button{
  color: #4a4d59 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  font-weight: 700 !important;
  margin-left: 74px;
  width: 47% !important;
}


.card-title-two{
  line-height: 21px;
  font-size: 18px;
  font-weight: 500;
  color: #555555;
  margin-left: 85px;
  padding-top: 20px;
}

.card-text-two{
  line-height: 21px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #555555;
  margin-left: 60px;
}

.padding-top{
  padding-top: 30px;
}

.accordion-item {
    border: none !important;
}

/*Footer*/

.text-muted{
	font-size: 14px;
	
}

.ft-blue{
	color: #244CDE !important;
}



@media all and (min-width: 768px) {

  .mt-30{
    margin-top: unset
  }

  .card{
    margin-top: unset;
  }

}

@media all and (min-width: 992px) {

.dropdown-large {
    min-width: 400px;
  } 

	.navbar .nav-item .dropdown-menu{ 
    display: none; 
  }

	.navbar .nav-item:hover .dropdown-menu{ 
    display: block; 
  }

	.navbar .nav-item .dropdown-menu{ 
    margin-top:0; 
  }

  .mt-30{
    margin-top: unset
  }
  .dropdown-menu{
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
    background-color: white;
  }

  .card{
    margin-top: unset;
    height: 100% !important;
  }
}

@media all and (min-width: 1200px) {

  .btn{
    margin-left: 20px;
  }

  .dropdown-menu{
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
    background-color: white;
  }

  .card{
    margin-top: unset;
    height: 100% !important;
  }

}
