.site-nav {
    @extend %anim-long;
    width: 100%;
    height: auto;
    background-color: $igx-blue;
    color: #fff;
    position: relative;

    .nav-header {
        @extend %anim;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        height: 60px;

        a {
            display: block;
            color: #fff;
            width: 20px;
        }

        .bi-arrow-left-square-fill,
        .bi-arrow-down-square-fill,
        .bi-house-fill {
            @extend %anim;
            margin-left: auto;
            width: 20px;
            cursor: pointer;
            display: none;

            &.active {
                transform: rotate(180deg);
            }
        }

        .bi-arrow-down-square-fill {
            display: block;
        }

        .bi-house-fill {
            margin-left: unset;
            display: block;
        }
    }

    .ul-wrapper {
        @extend %anim;
        min-height: 0;
        pointer-events: auto;

        .ul-header {
            @extend %anim-long;
            font-weight: 700;
            border-bottom: solid 1px #fff;
            font-size: 2rem;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
            cursor: pointer;
            //white-space: nowrap;
            margin-top: 15px;
            padding-bottom: 15px;

            .bi-chevron-compact-down {
                @extend %anim-long;
                margin-left: auto;
                width: 22px;
            }

            &.active {

                .bi-chevron-compact-down {
                    transform: rotateX(-180deg);
                }
            }

        }//-- Faux LI Header -----

        ul {
            padding: 0;
            margin: 0;
            opacity: 1;
            width: 90%;
            display: none;

            li {
                list-style: none;
                margin-bottom: 5px;

                &:first-of-type {
                    margin-top: 30px;
                }

                &:last-of-type {
                    margin-bottom: 30px;
                }

                a {
                    @include hover;
                    color: #fff;
                    white-space: nowrap;
                }

                &.nd {
                    pointer-events: none;
                    opacity: .15;
                }
            }
        }//-- UL -----
    }//-- Ul Wrapper -----

    &.closed {
        width: 84px;

        .ul-wrapper {
            opacity: 0;
            margin-left: 50px;
            pointer-events: none;
        }

        .nav-header {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;

            .bi-arrow-left-square-fill {
                margin-left: unset;
            }

            .bi-house-fill {
                margin-top: 20px;
            }
        }

    }//-- Closed -----
}//-- Site Nav ------

.fix-wrapper {
    position: sticky;
    top: 30px;
    padding: 0px 30px;
}

#index {

    main {
        flex-direction: column;
    }//-- Main -----

    .nd {
        pointer-events: none;
        opacity: .15;
    }

    .ul-wrapper {
        width: 100%;
        margin-bottom: 30px;

        .ul-header {
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 15px;

            .bi-chevron-compact-down {
                display: none;
            }
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin-bottom: 5px;

                a {
                    @include hover;
                }
            }
        }
    }//-- UI Wrapper -----
}//-- Index -----

//-- Breaks -------------------------------------
@include md {

    #index {

        main {
            flex-direction: row;
            flex-wrap: wrap;

            h1 {
                width: 100%;
            }

            .flex {
                justify-content: space-between;
            }//-- Main-Flex -----

            .ul-wrapper {
                width: 48%;
            }
        }//-- Main -----
    }//-- Index -----

}//-- MD Break -----

@include lg {

    .site-nav {
        width: 300px;
        margin-right: 50px;

        .nav-header {

            .bi-arrow-down-square-fill {
                display: none;
            }

            .bi-arrow-left-square-fill {
                display: block;
            }
        }
    }
}
