.tray-book {
	position: relative;
	// padding: 50px 0;
	// background-color: white;

	h2{
		margin-bottom: 16px;
		margin-top: 64px;
	}

	p{
		padding-bottom: 24px;
	}

	h5{
		margin-top: 52px;
	}

}


//Breaks
//-----------------------------------------------

@include md {

	.tray-book{

    	h5{
        	line-height: 0.95;
    	}
    }

}

@include lg {

	.tray-book{

    	h5{
        	line-height: 0.90;
        	margin-top: 52px;
    	}
    }

}
