
.tray-card{

  .card{
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px $light-periwinkle; 
  }

  .card-text{
    margin-bottom: 16px;
  }


    h3{
        margin-bottom: 32px;
        margin-top: 64px;
    }
}


.card-min {
  font-family: "Gilroy-Medium", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.2px;
  color: #5b6b80;
  margin-bottom: 0;

}

.card-body-rel{
  padding: 16px;
}


//Breaks
//-----------------------------------------------