
.bu-logomark {
	width: 36px;
	height: 36px;
	margin-top: 36px;
}

.logo-footer{
	margin-bottom: 36px;
	margin-left: 32px;
}

.footer {
	margin-top: 104px;
  height: 108px;
  box-shadow: 0 -2px 9px 0 rgba(170, 170, 170, 0.5);
  background-color: white;
}

//Breaks
//-----------------------------------------------