
.tray-header{
	position: relative;
	z-index: 1;

	h6{
		margin-top: 100px;
	}

	h5{
		margin-top: 60px;
	}

}

.-min {
	font-size: 24px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.67;
	letter-spacing: -0.34px;
	color: #5b6b80;
	margin-top: 16px;
}


// .embed-responsive{
// 	margin-bottom: 50px;
// }

//Breaks
//-----------------------------------------------