.tray-key{

	h2{
		margin-bottom: 24px;
		
	}

	h3{
		margin-top: 64px;
	}

	p{

		margin-bottom: 48px;
	}

	.li-title{
		color: #25273a;
		font-weight: bold;
		padding-inline-start: 20px !important;
	}

	.takeaway{
		font-weight: normal;
		color: #5b6b80;
		margin-top: -27px;
	}

	li{
		margin-bottom: 32px;
	}

}




//Breaks
//-----------------------------------------------