
.tray-video{
	position: relative;
	z-index: 1;

	h5{
		margin-top: 42px;
	}

}

.-min {
	font-size: 24px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.67;
	letter-spacing: -0.34px;
	color: #5b6b80;
	margin-top: 16px;
}

.embed-responsive {
    margin-bottom: 4px;
}

// .embed-responsive{
// 	margin-bottom: 50px;
// }

//Breaks
//-----------------------------------------------

@include md {

	.tray-video{

    	h5{
        	line-height: 0.95;
    	}
    }

}

@include lg {

	.tray-video{

    	h5{
        	line-height: 0.90;
        	margin-top: 50px;
    	}
    }

}