input[type=text], input[type=password], input[type=search], input[type=date], input[type=email], input[type=number], textarea {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border: {
        style: solid;
        width: 1px;
        radius: 4px;
        color: #c5c5c5;
    }

    @extend %anim;

    &:focus {
        outline: none;
        border-color: $warm-blue;
        box-shadow: 0 0 0 5px rgba($warm-blue, .25);
    }
}

textarea {
    padding: 10px;
    min-height: 100px;
}


  