
$light-periwinkle: #d8dce7;
$orangey-red: #ff3b30;
$coral-20: rgba(255, 84, 76, 0.2);
$pale-grey: #ebedf3;
$weird-green: #4cd964;
$tangerine: #ff9500;
$marigold: #ffcc00;
$dodger-blue: #32a8ff;
$light-blue-grey: #c7c7cc;
$white: #ffffff;
$pale-grey-2: #efeff4;
$reddish-pink: #ff2d55;
$warm-blue: #5856d6;
$robin-s-egg: #5ac8fa;
$light-blue-grey-2: #d1d1d6;
$blue-grey: #8e8e93;
$pale-lilac: #e5e5ea;
$black: #000000;
$deep-sky-blue: #007aff;


//Backgrounds
//-----------------------------------------------

.background {

  &--orangy-red {
    background-color: $orangey-red;
  }

  &--coral20 {
    background-color: rgba(255, 84, 76, 0.2);
  }

  &--reddish-pink {
    background-color: $reddish-pink;
  }

  &--tangerine {
    background-color: $tangerine;
  }

  &--marigold {
    background-color: $marigold;
  }

  &--weird-green {
    background-color: $weird-green;
  }


//greys//

  &--light-blue-grey {
    background-color: $light-blue-grey;
  }

  &--light-blue-grey-2 {
    background-color: $light-blue-grey-2;
  }

  &--pale-grey{
    background-color: $pale-grey;
    color: #fff;
  }

  &--pale-grey-2 {
    background-color: $pale-grey-2;
  }

  &--blue-grey {
    background-color: $blue-grey;
  }

  &--light-periwinkle {
    background-color: $light-periwinkle;
    color: #fff;
  }

  &--pale-lilac {
    background-color: $pale-lilac;
  }


//Blues//

  &--deep-blue-sky {
    background-color: $deep-sky-blue;
  }

  &--warm-blue {
    background-color: $warm-blue;
  }

  &--robins-egg {
    background-color: $robin-s-egg;
  }

  &--dodger {
    background-color: $dodger-blue;
  }



  &--black {
    background-color: $black;
  }

  &--white {
    background-color: $white;
  }

}