.comp--video {
    position: relative;
    width: 100%;

    video {
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
    }

    .text {
        position: absolute;

        h1,
        h2 {
            color: #fff;
        }

        h1 {
            margin-bottom: 0;
            line-height: 1.2;
        }

        h2 {
            font-size: 1.9rem;
        }

        &.top {
            top: 50px;
        }

        &.center {
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        &.middle {
            top: 50%;
            transform: translateY(-50%);
        }

        &.bottom {
            bottom: 50px;
        }

        &.left {
            left: 50px;
        }

        &.right {
            right: 50px;
            text-align: right;
        }

        &.center {
            
            &.middle {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &--dramatic {
        max-height: 800px;

        video {
            max-height: 800px;
        }
    }
}