.igx-list {
    display: flex;
    flex-direction: column;
    width: auto;
    border: solid 1px $border;
    border-radius: 4px;
    
    &__item,
    &__toggle {
        display: flex;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        color: inherit;

        &.active {
            background-color: $igx-blue;
            color: #fff;
            pointer-events: none;

            .igx-list__item_badge {
                background-color: #fff;
                color: $igx-blue;
            }
        }

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        &_badge {
            margin-left: auto;
            height: 50%;
            background-color: rgba($igx-blue, .09);
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 100px;
            font-size: 1.4rem;;
        }
    }

    &__toggle {
        cursor: pointer;

        .animated-arrow {
            margin-left: auto;

            span {
                top: 30%;
            }
        }

        &.active-toggle {

            .animated-arrow {

                span {
                    top: 50%;

                    &:first-child {
                        transform: rotate(45deg);
                    }

                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    a {
        @extend %anim;
    
        &:hover {
            background-color: rgba(#000, .05);
            color: $igx-blue;
        }
    }

    &__items-wrapper {
        display: none;
    }
}

//-- Breaks -------------------------------------
@include md {
    
    .igx-list {

        &__toggle {
            display: none;
        }

        &__items-wrapper {
            display: block;
        }
    }
    
}//-- MD Break -----