.swiper-slide {
    position: relative;

    .slide-content {
        position: absolute;
        width: 100%;
        padding: 30px 80px;
        background-color: rgba(#000,.5);
        color: #fff;
        z-index: 100;
        bottom: 0;
        left: 0;
        font-size: 1.5rem;

        &__header {
            font-size: 3rem;
            margin-bottom: 20px;
        }

        &--top {
            top: 0;
            bottom: unset;
        }

        &--center {
            top: 50%;
            transform: translateY(-50%);
            bottom: unset;
        }
    }
}

.swiper-pagination {
    z-index: 101;
}

.swiper-pagination-bullet {
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    background-color: $igx-blue;
}