.tray--accordion {
    padding-top: 0;
    padding-bottom: 0;

    &__button {
        @extend %anim;
        background-color: #3c9cd7;
        margin-bottom: 1px;
        padding: 10px;
        width: 100%;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        &:hover {
            background-color: #2f83b7;
        }

        .animated-arrow {
            margin-left: auto;

            span {
                background-color: #fff;
                top: 30%;
            }
        }

        &[aria-expanded="true"]{

            .animated-arrow {
                margin-left: auto;

                span {
                    top: 50%;

                    &:first-child {
                        transform: rotate(45deg);
                    }

                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    &__card-body {
        background-color: rgba(#000,.05);
        padding: 20px;
        margin-bottom: 1px;
    }
}