%anim { 
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
 	  -o-transition: all 0.1s linear;
   	  transition: all 0.1s linear; 
}

%anim-long { 
-webkit-transition: all 0.25s linear;
   -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
 	  -o-transition: all 0.25s linear;
        transition: all 0.25s linear; 
}