.downloader {
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;

    &__header {
        font-size: 3rem;
        font-weight: 700;
        width: 100%;
        margin: 30px 0;
        padding-bottom: 30px;
        border-bottom: solid 1px #333;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
    }

    .download-button {
        @extend %anim;
        display: inline-block;
        width: 20px;
        opacity: 0;
        margin-left: 20px;
        cursor: pointer;

        &.show {
            opacity: 1;

            &:hover {
                color: $igx-blue;
            }
        }
    }

    ul {
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            @extend %anim;
            text-align: left;
            width: 100%;

            div {
                position: relative;
                margin-left: 30px;
                cursor: pointer;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -30px;
                    width: 20px;
    				height: 20px;
    				border: solid 1px #BBC1E1;
    				background: #FFF;
    				border-radius: 2px;
    				box-shadow: 0 0 0 rgba(#BBC1E1, .2);
                }

                &:after {
                    @extend %anim;
                    opacity: 0;
                    display: inline-block;
                    content: '';
                    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%230073bb' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/></svg>");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -30px;
                    font-size: 1.375em;
                }

                &.download--item--checked {

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//-- Breaks -------------------------------------
@include md {


.downloader {

    ul {

        li {
            width: 50%;
        }
    }
}

}//-- MD Break -----

@include lg {



}//-- LG Break -----
