.note-section {
    margin: 0 0 24px;
    padding: 12px;
    border-left: solid 6px;
    line-height: 22px;
    border-radius: 4px;

    h4,
    .h4 {
        font-size: 1.6rem;
        margin-bottom: 10px;
        font-weight: 800;
    }

    &--note {
        background-color: #dcf4ff;
        border-color: #1e7f9d;
    }

    &--important {
        background-color: #fef1b6;
        border-color: #e1c542;
    }

    &--referral {
        background-color: #c6e6ae;
        border-color: #1E5631;
        text-shadow: 0 0 1px rgba(#fff,.9);
    }

    &--fast-grab {
        display: none;
        padding: 20px;
        border-radius: 0 0 0 4px;
        background-color: #fff;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    &--footnote {
        font-size: 1.4rem;
        background-color: #f3f3f3;
        border-color: #afafaf;

        h5,
        .h5 {
            margin-bottom: 0;
        }
    }

    &--extend-code,
    &--extend-code--underline {
        background-color: #f1d6fb;
        border-color: #b642e1;
    }

    &--example-code {
        background-color: #f3e7fb;
        border-color: #6900b1;

        .input--submit {
            margin-top: 20px;
            height: 30px;
            font-size: 1.2rem;
            padding-left: 10px;
            padding-right: 10px;
        }

    }

    p {

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    ul {

        li {
            margin-bottom: 15px;
        }
    }

    .view-code-wrapper {
        display: none;
    }
}

.fast-grab {
    font-size: 1.4rem;

    code {
        font-size: 80%;
    }

    &__header {
        font-weight: 800;
    }

    .view-code-wrapper--grab {
        display: none;
    }

    .input--submit.code-grab {
        position: absolute;
        top: 19px;
        right: 20px;
        height: 30px;
        font-size: 1.4rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    p {
        margin-bottom: 0;
        width: calc(100% - 140px);
    }
}

.fast-grab__grab-section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}

.code-show {
    @extend %anim;
    position: relative;
    top: -30px;
    padding: 10px 20px;
    border: 0;
    background-color: #3c9cd7;
    color: #fff;
    border-radius: 0 0 4px 4px;
    margin-right: 5px;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        background-color: #2f83b7;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &--quick-grab {
        top: 0;
        position: sticky;
        margin-right: 0;
        z-index: 100;
    }
}

.note-section--fast-grab {
    position: sticky;
    top: 43px;
    margin-top: -10px;
    z-index: 90;
}

.note--sr-code,
.note-section--extend-code,
.note-section--extend-code--underline {
    padding: 30px;
    display: none;
    margin-top: -20px !important;

    pre[class*="language-"] {
        margin-bottom: 0;
    }
}

//-- Breaks -------------------------------------
@include md {



}//-- MD Break -----

@include lg {

    .code-show {

        &--quick-grab {
            position: fixed;
            top: 0;
            right: 15px;
            z-index: 101;
        }
    }

    .note-section--fast-grab {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        overflow-y: auto;
        max-height: 90%;
    }

    .fast-grab__grab-section {
        flex-direction: row;
        justify-content: space-between;

        .grab {
            width: 48%;
        }
    }

}//-- LG Break -----
