#index {

    main {
        width: 100%;
    }

    .slide-wrap {
        display: flex !important;
        width: 100%;
        flex-direction: column;

        .ul-wrapper {
            width: 100%;
        }
    }
}

//-- Breaks -------------------------------------
@include md {

    #index {

        .slide-wrap {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .ul-wrapper {
                width: 50%;
            }
        }
    }

}//-- MD Break -----

@include lg {



}//-- LG Break -----
