.styled-form {
    border: solid 2px #BBC1E1;
    border-radius: 2px;
    //padding: 60px;
    padding: 15px;
    background-color: #fff;

    &--flex {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .column {
            width: 100%;
            margin-top: 30px;

            &--three {
                width: 100%;
                margin-top: 30px;

                .input-wrapper {

                    input {
                        margin-left: auto;
                    }
                }
            }
        }
    }//-- Two Column Form

    .input-wrapper {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .radio-header {
        margin-bottom: 20px;
    }

    .parsley-errors-list {

        &.filled {
            position: absolute;
            margin-top: 4px;
            font-size: 1.3rem;
        }
    }//-- Pasley Error List -----

    input,
    select,
    textarea {

        &.parsley-error {
            background-color: #fff;
            border: solid 2px #B94A48;

            &:focus {
                box-shadow: 0 0 10px rgba(#B94A48, .5);

                + .faux-time-input-placeholder {
                    opacity: 0;
                }
            }
        }

        &:focus,
        &:valid {

            &:before {
               display: none;
            }

            + .faux-time-input-placeholder,
            + .faux-date-input-placeholder,
            + ul + .faux-time-input-placeholder,
            + ul + .faux-date-input-placeholder {
                opacity: 0;
            }
        }
    }//-- Parsley Error Inputs -----
}//-- Styled Form -----

//-- Breaks -------------------------------------
@include lg {

    .styled-form {
        padding: 60px;

        &--flex {

            .column:not(.column--three) {
                width: calc(50% - 25px);
            }
        }//-- Two Column Form
    }//-- Styled Form ------

}//-- LG Break -----
