.input-wrapper--select {

    .ui {
        
        &.selection {
            
            &.dropdown {
                @extend %anim;
                background-color: #FFF;
                border: solid 1px #BBC1E1;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                min-width: unset;
                height: 60px;
                padding: 0 70px 0 30px;
                cursor: pointer;
                box-shadow: 0 0 0 0 #BBC1E1;

                > .text {
                    margin: 0;
                }

                .icon {
                    display: none;
                }

                .menu {

                    > .item {
                        display: flex;
                        align-items: center;
                        height: 60px;
                        font-size: 1.8rem;

                        &.active {
                            background-color: $igx-blue;
                            color: #fff;
                        }
                    }
                }

                &:hover {
                    border-color: #275EFE;
                    background-color: rgba(#000,.05);
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 2px #BBC1E1;
                }
            }
        }

        &:after {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 10px solid #8c92af;
            z-index: 202;
        }

        &.button {

            &:after {
                display: none;
            }
        }
    }

}//-- Submit Input -----


