.password-wrapper {
    position: relative;

    .password-toggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 90px;
        height: 60px;
        cursor: pointer;

        i {
            @include center;
            font-size: 2.5rem;
        }

        &.active {

            .bi-eye-slash {
                display: none;
            }
        }
    }
}

.input--password {
    @extend %anim;
    background-color: #FFF;
    border: solid 1px #BBC1E1;
    border-radius: 2px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    padding-right: 80px;
    box-shadow: 0 0 0 0 #BBC1E1;

    &:hover {
        border-color: #275EFE;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #BBC1E1;
    }
}//-- Password Input -----

//-- IE Only ------------------------------------
 @media all and (-ms-high-contrast:none){

     .password-wrapper {
         position: relative;

         .password-toggle {
            display: none;
        }
    }
}//-- IE Only ------
