.animated-arrow {
    position: relative;
    width: 15px;
    height: 15px;

    span {
        width: 65.7%;
        height: 1px;
        top: 30%;
        background-color: $igx-blue;
        transition: 0.4s ease;
        display: block;
        position: absolute;

        &:first-child {
            transform: rotate(-45deg);
            transform-origin: center right;
            right: 50%;
        }

        &:last-child {
            left: 50%;
            transform: rotate(45deg);
            transform-origin: center left;
        }
    }

    &.active {

        span {
            top: 50%;

            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }
}