.select-wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;

    .el--select {
        @extend %anim;
        appearance: none;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        line-height: inherit;
        background-color: #FFF;
        border: solid 1px #BBC1E1;
        border-radius: 2px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        padding-left: 30px;
        padding-right: 30px;
        box-shadow: 0 0 0 0 #BBC1E1;

        &:hover {
            border-color: #275EFE;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px #BBC1E1;
        }

        &--hide {
            display: none;
        }
    }//-- Select -----

    &:after {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 10px solid #8c92af;
        z-index: 202;
    }//-- Arrow -----
}//-- Select Wrapper -----


.el--select--styled-dropdown-wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 100%;

    .el--select--styled-dropdown {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        padding-left: 30px;
        background-color: #FFF;
        border: solid 1px #BBC1E1;
        border-radius: 2px;
        width: 100%;
        height: 60px;

        &:hover {
            border-color: #275EFE;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px #BBC1E1;
        }

        &__ul {
            display: none;
            position: absolute;
            top: 60px;
            width: 100%;
            background-color: #fff;
            border: solid 1px #BBC1E1;
            box-shadow: 0 0 0 2px #BBC1E1;
            border-radius: 0 0 2px 2px;
            z-index: 200;
            padding: 0;

            li {
                @extend %anim;
                list-style: none;
                display: block;
                border-bottom: solid 1px #BBC1E1;
                padding: 10px 30px;
                cursor: pointer;

                &:last-of-type {
                    border-bottom: 0;
                }

                &:hover,
                &:focus,
                &.selected {
                    background-color: rgba(#000,.05);
                }

                &.selected {
                    pointer-events: none;
                }

                &.message {
                    display: none;
                }
            }
        }
    }

    &.active {

        .el--select--styled-dropdown {

            &__ul {
                display: block;
                animation-fill-mode: both;
                animation-duration: 0.3s;
                animation-name: fadeIn;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }100% {
        opacity: 1;
    }
}

.prettydropdown {
    position: relative;
    width: 100%;
    height: 60px;
    min-width: 72px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    &.loading {
        min-width: 0;

        > ul {
            visibility: hidden;
            white-space: nowrap;

            > li {
                min-width: 0;
                display: block;
                padding-right: 0.8rem;
            }
        }
    }

    > ul {
        @extend %anim;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        box-sizing: content-box;
        cursor: pointer;
        background-color: #FFF;
        border: solid 1px #BBC1E1;
        border-radius: 2px;
        list-style-type: none;
        user-select: none;
        z-index: 1;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px #BBC1E1;
        }

        &.active {

            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px #BBC1E1;
            }

            &.reverse {
                top: auto;
                bottom: 0;
            }
        }

        > li {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
            width: 100%;
            height: 60px;
            border: 0;
            box-sizing: border-box;
            display: none;
            padding-left: 30px;
            padding-right: 30px;

            span.checked {
                display: none;
            }

            &.hover {
                background-color: $igx-blue;
                color: #fff;
            }
        }

        &:not(.active) > li:not(.selected):first-child {
            visibility: hidden;
        }

        > li:first-child, &.active > li {
          display: block;
        }

        &.active > li:not(.label):hover,
        &.active > li:hover:not(.label),
        &.active > li:first-child:hover:after {
            background: lighten($igx-blue, .5);
            color: #fff;
        }

        &.active > li.nohover {
            background: inherit !important;
            color: inherit !important;
        }

        &.arrow > ul > li.selected:before {
            display: none;
        }

    }//-- UL -----

    &:not(.disabled) > ul {

        &:hover {
             border-color: #275EFE;
        }

        &.active {
            width: auto;
            max-height: none !important;
            border-color: #1e90ff;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 99;
        }
    }

    //&:multiple
}



/* Multi-Select */
// .prettydropdown.multiple > ul > li.selected {
//   overflow: hidden;
//   padding-right: 2rem;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }
//
// /* Option Groups */
// .prettydropdown > ul > li.label {
//   cursor: default;
//   font-weight: bold;
// }
// .prettydropdown > ul > li.label:first-child,
// .prettydropdown.classic > ul > li.label ~ li.selected{
//   border-top: none;
// }
// .prettydropdown > ul > li.label ~ li:not(.label):not(.selected),
// .prettydropdown.classic > ul.active > li.label ~ li:not(.label) {
//   padding-left: 1.6rem;
// }
//
//
// /* Disabled */
// .prettydropdown.disabled, .prettydropdown > ul > li.disabled {
//   opacity: 0.3;
// }
// .prettydropdown.disabled > ul > li, .prettydropdown > ul > li.disabled {
//   cursor: not-allowed;
// }
//
// /* Divider Lines */
// .prettydropdown.multiple > ul > li.selected + li, .prettydropdown.multiple > ul.reverse > li.selected,
// .prettydropdown > ul > li.label, .prettydropdown > ul > li.label ~ li.selected {
//   border-top-color: #dedede;
// }
