.filter-bar {
    display: flex;
    flex-direction: column;
    width: calc(100% + 30px);
    margin-left: -15px;

    > div {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;

        &.filter-bar__header {
            margin-bottom: -5px;
        }
    }
    
    &__header {
        font-weight: 700;
        line-height: 60px;
    }

    .input-wrapper--select {
        flex-grow: 1;
        width: calc(100% - 30px);
        margin-bottom: 30px;
    }

    .break {
        width: 100%;
        margin: 0;
    }

    .button--reset {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 0;
        margin-bottom: 30px;

        &:after {
            display: none;
        }
    }
}

//-- Breaks -------------------------------------
@include md {
    
    .filter-bar {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        .input-wrapper--select {
            width: calc(50% - 30px);  
        }

        > div {
     
            &.filter-bar__header {
                margin-bottom: unset;
                align-self: flex-start;
            }
        }
    }
    
}//-- MD Break -----


@include xl {
    
    .filter-bar {
        align-items: center;

        .input-wrapper--select {
            flex: 1 1 0;
        }

        .input-wrapper--select,
        .ui.button {
            width: unset;
            margin-left: 15px;
            margin-right: 15px;
        }

        .ui.button {
            margin-left: auto;
        }
    }
    
}//-- LG Break -----