.sm-filters-button-toggle {
    margin-bottom: 30px;
}

.rail-filters-wrapper {
    display: none;
}

.rail-filters {

    &__header {
        background-color: transparent;
        border: 0;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px solid $border;
        margin-bottom: 20px;

        .animated-arrow {
            margin-left: auto;
        }
    }

    &:last-of-type {
        margin-bottom: 30px;
    }

    &__group {
        display: none;
    }
}

//-- Breaks -------------------------------------
@include lg {
    
    .sm-filters-button-toggle {
        display: none;
    }

    .rail-filters-wrapper {
        display: block;
    }   
    
}//-- MD Break -----