.igx-tooltip {
    position: relative;

    &:before {
        content: attr(data-igx-tooltip);
        position: absolute;
        font-size: 1.5rem;
        padding: 5px 20px;
        color: #fff;
        pointer-events: none;
        background-color: #000;
        border-radius: 4px;
        z-index: 99;
        min-width: 200px;
        text-align: center;
    }

    &:after {
        position: absolute;
        content: '';
        width: 0; 
        height: 0; 
    }

    &:before,
    &:after {
        @extend %anim-long;
        opacity: 0;
    }

    &:hover {

        &:before,
        &:after {
            opacity: 1;
        }
    }

    &--top {

        &:before,
        &:after {
            top: 0;
            left: 50%;
            margin-top: -25px;
        }

        &:before {
            transform: translate(-50%, -100%);
        }

        &:after {
            transform: translateX(-50%);
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #000;
        }

        &:hover {

            &:before,
            &:after {
                margin-top: -15px;
            }
        }
    }

    &--left {

        &:before,
        &:after {
            top: 50%;
            left: 0;
            margin-left: -25px;
        }

        &:before {
            transform: translate(-100%, -50%);
        }

        &:after {
            transform: translateY(-50%);
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid #000;
        }

        &:hover {

            &:before,
            &:after {
                margin-left: -15px;
            }
        }
    }

    &--right {

        &:before,
        &:after {
            top: 50%;
            right: 0;
            margin-right: -25px;
        }

        &:before {
            transform: translate(100%, -50%);
        }

        &:after {
            transform: translateY(-50%);
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid #000;
        }

        &:hover {

            &:before,
            &:after {
                margin-right: -15px;
            }
        }
    }

    &--bottom {

        &:before,
        &:after {
            bottom: 0;
            left: 50%;
            margin-bottom: -25px;
        }

        &:before {
            transform: translate(-50%, 100%);
        }

        &:after {
            transform: translateX(-50%);
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #000;
        }

        &:hover {

            &:before,
            &:after {
                margin-bottom: -15px;
            }
        }
    }
}

span.igx-tooltip {
   background-color: $igx-blue;
   color: #fff;
   border-radius: 4px;
   padding-left: 3px;
   padding-right: 3px;
}